body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: #fff;
}

.container {
  text-align: center;
}

.secret-button {
  background-color: #fff;
  color: #ff7e5f;
  border: none;
  padding: 15px 30px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.secret-button:hover {
  background-color: #ff7e5f;
  color: #fff;
}
